$orange:#ff7800;
$black:#130f40;
$light-color:#666;

$minMedium:"(max-width:992px)";
$minSmall:"(max-width:768px)";
$minLarge:("max-width:1200px");
$mainColor:#e2494c;



$text-right:right;
$text-left:left;
