*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/frakh2.jpg");
 background-size:100%;
    background-repeat: no-repeat;
     background-color: rgb(207, 189, 189);
}
.header{
    margin: 10px;
    background-color: rgb(180, 166, 166);  
      padding: 15px;
      
}
.header .container{
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
   position: relative;
   align-items: center;
    
}
.header .container h1:hover{
color: blue;
}

#yyT{
    position: absolute;
    margin: 15rem;
    margin-left: 25%;
    padding: 20px 0px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    border: transparent;
    background-color: rgb(234, 243, 243);
    z-index: -1;
}
.header .main-nav .moving{
    display: none;
}
.header .main-nav .moving .mo1{
    width: 30px;
    height: 3px;
    background-color: rgb(30, 30, 199);
    margin: 7px;
    cursor: pointer;
}

.header .main-nav .moving .mo2{
    width: 30px;
    height: 3px;
    background-color: rgb(30, 30, 199);
    margin: 7px;
    cursor: pointer;
}

.header .main-nav .moving .mo3{
    width: 30px;
    height: 3px;
    background-color: rgb(30, 30, 199);
    margin: 7px;
    cursor: pointer;
}

.header .main-nav .main-ul li {
    display: inline-block;
    list-style: none;
  
}
.header .main-nav .main-ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 20px;
font-weight: bold;
    color: black;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
    overflow: hidden;
}
.header .main-nav .main-ul li a:hover{
color: blue;
}
.header .main-nav .main-ul li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color:rgb(42, 13, 170);
    top:0;
    left: -100%;
}
.header .main-nav .main-ul li a:hover::before{
left: 0;
color: rgb(45, 112, 114);
transition:2s;
}
.main-nav .movingto{
    display: none;
}
.main-nav .main-ul li:hover .movingto{
    display: block;
    margin-top: 2px;
    position: fixed;
   background-color: rgb(207, 189, 189);
    width: 200px;
    position: absolute;
}
.main-nav .main-ul li:hover .movingto ul{
    display: block;
    margin: 10px;
}
.main-nav .main-ul li:hover .movingto ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #000;
    background-color: transparent;
    float: right;
}
.main-nav .main-ul li:hover .movingto ul li a{
    font-size:15px;
    font-weight: bold;
}
.main-nav .main-ul li:hover .movingto ul li:last-child{
    border: none;
}



.header .container h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(13, 13, 17);
    height: 70px;
    top: 50px;
    cursor: pointer;

}
.text h1{
    margin: 15rem auto ;
    text-align: center;
    color: rgb(22, 19, 20);
    cursor: pointer;
}
//overlay
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(92, 84, 84);
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: 1s;

}
.overlay a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
}
.overlay .close{
    position: absolute;
    right: 20px;
    top: 10px;
  font-size: 50px;
}
.overlay form{
    margin: 10rem;
    margin-left:28%;
    align-items: center;
    display: block;

}
form {
    background-color: rgb(20, 19, 19);
    border-radius: 5%;
  width: 600px;
  height: 350px;
  margin: 25px auto;
 
}
form .sign{
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 30rem;
}
form .sign h4{
    margin: 10px 75px;
    font-weight: bold;
    color: burlywood;
}
form .sign a{
    margin: 12px -40px;
    font-size: 20px;
    font-weight: bold;
}
.overlay form input{
    display: block;
    align-items: center;
    padding: 6px 8rem;
    margin: 15px auto;
}
.overlay form .button{
    text-align: center;
    padding: 5px 5rem;
    margin-left: 12rem;
    background-color: chartreuse;
    border-radius: 10px;
    color: aliceblue;
    border: 2px solid #ddd;
}
.overlay form .button:hover{
    background-color: burlywood;
}


  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 120%;
   
 height: 100%;
    object-fit: cover;
    
    
  }
  @media (max-width: 767px) {
    body{
      
     background-size:cover;
        background-repeat: no-repeat;
        
    }
    .header .main-nav .main-ul{
        position: fixed;
        z-index: 2;
        top: 120px;
        background-color: rgb(202, 191, 191);
        width: 50%;
        right: -500px;
        transition: right  1s;
        overflow: hidden;
    }
    .header .main-nav .main-ul li{
        display: block;
       padding: 5px;
       float: right;
       padding: 25px;

    }

    .header .main-nav .main-ul li a{
        color: aliceblue;
        font-size: 25px;
        font-weight: bold;
    text-align: right;
    padding: 10px;
    }
    .main-nav .main-ul li:hover .movingto{
        margin-left: -13rem;
        position: fixed;
        background-color: rgb(202, 191, 191);
        margin-top: -30px;
        
        }
    .header .main-nav .moving{
display: block;
cursor: pointer;
right: 50%;
    }
    body{
       background-size: 90rem;
    }
    #yyT{
        position: absolute;
        margin: 15rem;
        margin-left: 12%;
        padding: 20px 20px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 25px;
        border: transparent;
    }
    .text h1{
        margin: 100rem;
        width: 15rem;
    align-items: center;
           
}
form{
  width: 300px;
  height: 365px;
 
}
.overlay form{
   
    margin-left: 5rem;
    align-items: center;
  

}
.overlay form input{
    display: block;
    align-items: center;
    padding: 6px 3rem;
    margin: 15px auto;
}
form .sign h4{
    margin: 10px;
    font-weight: bold;
    color: burlywood;
}
form .sign a{
    margin: 12px;
    font-size: 20px;
    font-weight: bold;
}
.overlay form .button{
   margin-top: 40px;
    margin-left: 3rem;
  
}
}